*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* Lines up buttons */
.btn-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: lightblue;
    border: 1px solid darkblue;
    padding: 5px 10px;
    color: black;
    outline: none;
}

.btn:hover {
    border-color: black;
}

/* correct answer shown in green */
.btn.correct {
    background-color: green;
}
/* Wrong answer shown in red */
.btn.wrong {
    background-color: red;
}


.next-btn, .start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* To hide specific elements */
.hide {
    display: none;
}

/* Centers all of the elements to the middle of the page */
.center {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
